<% provide(:title, 'Reset password') %>


<h1>Reset password</h1>

<div class="row">
  <div class="col-sm-2 col-md-3 col-lg-4">
  </div>

  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
    <div class="form-group">
      <%= form_tag password_resets_path, :method => :post do %>
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email], class: "form-control" %>
        <%= submit_tag "Reset Password", class: "btn btn-success" %>
        <%= link_to "Cancel", "javascript:history.back()", class: "btn btn-default" %>
      <% end %>
    </div>
  </div>

  <div class="col-sm-2 col-md-3 col-lg-4">
  </div>
</div>

