<header class="navbar navbar-fixed-top navbar-inverse" id="header" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "FIN APP", root_path, class: "navbar-brand", id: "logo" %>
    </div>
    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if signed_in? %>
          <li><%= link_to "Profile", profile_path %></li>
          <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Sign in", signin_path %></li>
        <% end %>
      </ul>
    </nav><!--/.nav-collapse -->
  </div>
</header>